body{
  background-color: blacks !important;
}

.center-content{
  padding: 25%;
}

.text-theme{
  font-size: 10px;
  font-family: Futura;
  font-style: italic;
  font-style: oblique;
  color: white;
  background-color: black;
  text-align: center;
}

.text-theme a{
  font-size: 10px;
  font-family: Futura;
  font-style: italic;
  font-style: oblique;
  color: white;
  background-color: black;
  text-align: center;
}

.text-theme a:hover{
  color: white;
}
